h5py
matplotlib
opencv-python
numpy==1.24.4
Pillow
dataset
progressbar2
train
boto3
requests
tqdm
timm==0.4.9
transformers==4.25.1
ruamel.yaml==0.17.32 
ruamel.yaml.clib==0.2.7
scikit-image
pycocotools
pycocoevalcap
dotwiz
gradio
joblib
networkx
pandas
pytorch_ignite
scikit_learn
scipy
spacy==3.5.0
statsmodels
aoa_pytorch
torchtext==0.17.0